USE [master]
GO
/****** Object:  Database [DBS_PQRS]    Script Date: 30/11/2021 7:01:30 p. m. ******/
CREATE DATABASE [DBS_PQRS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBS_PQRS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBS_PQRS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBS_PQRS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBS_PQRS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBS_PQRS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBS_PQRS]
GO
/****** Object:  Table [dbo].[TBL_Persona]    Script Date: 30/11/2021 7:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Persona](
	[PSN_TipoDocumento] [nvarchar](50) NULL,
	[PSN_Documento] [nvarchar](50) NULL,
	[PSN_Nombres] [nvarchar](50) NULL,
	[PSN_Apellidos] [nvarchar](50) NULL,
	[PSN_CorreoElectronico] [nvarchar](50) NOT NULL,
	[PSN_Clave] [nvarchar](30) NOT NULL,
	[PK_PSN_Persona] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_PSN_Persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Persona_has_Rol]    Script Date: 30/11/2021 7:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Persona_has_Rol](
	[FK_PSN_Persona] [int] NOT NULL,
	[FK_ROL_Rol] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Pqrs]    Script Date: 30/11/2021 7:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Pqrs](
	[FK_PSN_Persona_crea] [int] NULL,
	[PQR_Fecha_Crea] [datetime] NULL,
	[FK_PSN_Persona_asigna] [int] NULL,
	[PQR_Fecha_Asign] [datetime] NULL,
	[FK_PSN_Persona_responde] [int] NULL,
	[PQR_Fecha_Responde] [datetime] NULL,
	[PQR_Comentario_Inicial] [text] NULL,
	[PQR_Comentario_Respuesta] [text] NULL,
	[PQR_Estado] [nchar](10) NULL,
	[PK_pqr_Pqrs] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_pqr_Pqrs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Rol]    Script Date: 30/11/2021 7:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Rol](
	[ROL_Nombre] [nvarchar](50) NULL,
	[ROL_Descripcion] [nvarchar](max) NULL,
	[PK_ROL_Rol] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_ROL_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_Persona_has_Rol]  WITH CHECK ADD FOREIGN KEY([FK_PSN_Persona])
REFERENCES [dbo].[TBL_Persona] ([PK_PSN_Persona])
GO
ALTER TABLE [dbo].[TBL_Persona_has_Rol]  WITH CHECK ADD FOREIGN KEY([FK_ROL_Rol])
REFERENCES [dbo].[TBL_Rol] ([PK_ROL_Rol])
GO
ALTER TABLE [dbo].[TBL_Pqrs]  WITH CHECK ADD FOREIGN KEY([FK_PSN_Persona_crea])
REFERENCES [dbo].[TBL_Persona] ([PK_PSN_Persona])
GO
ALTER TABLE [dbo].[TBL_Pqrs]  WITH CHECK ADD FOREIGN KEY([FK_PSN_Persona_asigna])
REFERENCES [dbo].[TBL_Persona] ([PK_PSN_Persona])
GO
ALTER TABLE [dbo].[TBL_Pqrs]  WITH CHECK ADD FOREIGN KEY([FK_PSN_Persona_responde])
REFERENCES [dbo].[TBL_Persona] ([PK_PSN_Persona])
GO
USE [master]
GO
