* {
    font-family: "calibri";
}
body {
    text-align: center;
    background: darkgrey;
    font-size: 16px;
    padding: 3%;
    margin: 3%;
}
#master {
    font-weight: bold;
    background: darkcyan;
    color:white;
    margin:0px;
    padding: 0.5em;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);

}
#container{   
    text-align: left;
    font-size: 20px;
    width: 70%;
    padding: 1 em;
    border: 1px solid #000;
}

#master #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#master #logo {
    width: 70px;
    vertical-align: middle;
}

#img {
    margin-left: 35%;
    width: 23%; 
}

#post {
    background: beige;
    padding: 1em;
}
#footer {
    background: #777;
    color:white;
    text-align: center;
    padding: 0.5em;
}